<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AnimeFlix | One Piece</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_pagina_anime.css') }}">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('main.index') }}" class="brand-logo">Anime<span style="color: var(--secondary-color);">Flix</span></a>
    </div>
  </nav>
  
  <div class="container">
    <div class="anime-detail-card">
      <div class="anime-image">
        <img src="{{ anime.image_url }}" alt="{{ anime.title }}">
      </div>
      <div class="anime-info">
        <h1>{{ anime.title }}</h1>
        <div class="platforms">
          <span style="color: #00D2D3;">Disponible en:</span>
          {% if anime.streaming %}
            {% if 'Netflix' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.netflix.com/mx/" title="See it in Netflix">
                  <div class="platform-logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Crunchyroll' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.crunchyroll.com/es/?srsltid=AfmBOorvPcr-2Z291uQoiixps8khTnG9ijVmNvhWTIGdrT3rOVGXwyew" title="See it in Crunchyroll">
                  <div class="platform-logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Crunchyroll_Logo.png" alt="Crunchyroll">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Amazon Prime Video' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.primevideo.com/" title="See it in Prime Video">
                  <div class="platform-logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Amazon_Prime_Video_logo_%282024%29.svg/2048px-Amazon_Prime_Video_logo_%282024%29.svg.png" alt="Prime video">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Max' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.max.com/" title="See it in Max">
                  <div class="platform-logo">
                    <img src="https://yt3.googleusercontent.com/oq4KsHJ8rZDIoChpWqyVSdyMTbIw0Q5oa9I8KjW38tz0_81oTQpTCep-VF6oN5fM9OXM9g79nmA=s900-c-k-c0x00ffffff-no-rj" alt="Max">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Disney Plus' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.disneyplus.com/" title="See it in Disney Plus">
                  <div class="platform-logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7_ic-h09k9aCvKFSKdYQd6UHM7N96TjcSA&s" alt="Disney plus">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Filmin' in anime.streaming %}
              <div class="platform-logos">
                <a href="https://www.filmin.es/" title="See it in Filmin">
                  <div class="platform-logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCwM3iWY1oUCk7SLO_QioDJTpGIWcxC2ba0A&s" alt="Filmin">
                  </div>
                </a>
              </div>
            {% endif %}
            {% if 'Shahid VIP' in anime.streaming %}
              <div class="platform-logos">
                <a href="" title="See it in Shahid VIP">
                  <div class="platform-logo">
                    <img src="https://www.arabnews.com/sites/default/files/styles/n_670_395/public/shahid_vip.png?itok=6ghFza7t" alt="Shahid VIP">
                  </div>
                </a>
              </div>
            {% endif %}
          {% else %}
            <p>No disponible</p>
          {% endif %}
        </div>
        <p class="info-item"><strong>Prices: </strong></p>
        <ul>
          {% if anime.streaming %}
            {% if 'Netflix' in anime.streaming %}
              <span>Netflix: </span>$6.99
            {% endif %}
            {% if 'Crunchyroll' in anime.streaming%}
              <span>Crunchyroll: </span>$7.99
            {% endif %}
            {% if 'Amazon Prime Video' in anime.streaming %}
              <span>Amazon Prime Video: </span>$5.99
            {% endif %}
            {% if 'Max' in anime.streaming %}
              <span>Max: </span>$9.99
            {% endif %}
            {% if 'Disney Plus' in anime.streaming%}
              <span>Disney Plus: </span>$7.99
            {% endif %}
            {% if 'Filmin' in anime.streaming %}
              <span>Filmin: </span>$7.99
            {% endif %}
            {% if 'Shahid VIP' in anime.streaming %}
              <span>Shahid VIP: </span>$11.99
            {% endif %}
          {% else %}
            <span>No disponible</span>
          {% endif %}
        </ul>
        <p class="info-item"><strong>Episodes:</strong> {{ anime.episodes }} </p>
        <p class="info-item"><strong>Type:</strong> {{ anime.type }} </p>
        <p class="info-item"><strong>Genres:</strong> {{ anime.genres }} </p>
        <p class="info-item"><strong>Status:</strong> {{ anime.status }} </p>
        <p class="info-item"><strong>Purchase year:</strong> {{ anime.year }} </p>
        <p class="info-item"><strong>Rating:</strong> {{ anime.rating }} </p>
        <p class="info-item"><strong>Score:</strong> {{ anime.score }} </p>
        <p class="info-item"><strong>Season:</strong> {{ anime.season }} </p>
        <p class="info-item"><strong>Producers:</strong> {{ anime.producers }} </p>
        <p class="info-item"><strong>Licensors:</strong> {{ anime.licensors }} </p>
        <p class="info-item"><strong>Studios:</strong> {{ anime.studios }} </p>
      </div>
      <div class="synopsis">
        <p><strong style="color: #00D2D3;">Synopsis:</strong> {{ anime.synopsis }} </p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
